/* ----------------- Resets ----------------  */

* { margin: 0; padding: 0; outline: 0; }

body {  
	font: 15px/23px Arial, sans-serif;
	color: #1a1e27;
	background-color: #ededed;
}

img { border: 0; }

.notext, .notext-footer { font-size: 0; line-height: 0; text-indent: -9999px; background-repeat: no-repeat; }


/* ----------------- Layout ----------------  */

.top {
background: transparent url(img/top-bg.gif) repeat-x;
	color: #fff;
	position: relative;
	height: 71px;
}

.top-content, 
.logo, 
.secondnav
.featured, 
#content, 
.footer-content, 
#bottom {
	margin: 0 auto;
	width: 950px;
}

.main {
	width: 900px;
	float: left;
	min-height: 800px;
}


#content, .featured, #footer, #bottom {
	clear: both;
}

#footer {
	background: #1a1e27 url(img/footer-bg.jpg) repeat-x 0 0; 
	border-bottom: 1px solid #fff; 
	border-top: 1px solid #fff;
}

/* ----------------- Logo ----------------  */

.logo {
	height: 148px;
	overflow: hidden;
}

.logo img {
	margin: 62px 22px auto 42px;
	float: left;
}

.logo p {
	margin-top: 67px;
	width: 229px;
	float: left;
	font: italic 15px/17px Georgia, serif;
	color: #646464;
}

/* ------------------ Second Nav ------------ */
.secondnav .nav a:hover
{
    background-color:white;
}

/* ----------------- Content ----------------  */
.flashes{
	color:red;
	text-align:center;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    backgroud-color:blue;
}

